#columna1 {
    position: relative;
    top: 10px;
    left: 0px;
    width: 250px;
}

#columna2 {
    position: absolute;
    left: 420px;
    top: 240px;
    width: 250px;
    margin-top: 10px;
}